<html>
<body>
Dear <%= @recipient[:first_name] + ' ' + @recipient[:last_name] %>,<br />
You have a new friend! <% unless @friend == nil %><a href='<%= Constant::get(:root_url) + user_path(@friend[:username]) %>'><%= @friend[:first_name] + ' ' + @friend[:last_name] %></a> added you as a friend.<% end %>
To view your current friends and friend requests, go here: <a href='<%= Constant::get(:root_url) + login_path + '?url=' + user_friends_path(@recipient[:username]) %>'><%= Constant::get(:root_url) + user_friends_path(@recipient[:username]) %></a>.<br />
<br />
Thank you,<br />
<%= t(:app_name) %> Admin
</body>
</html>
