<html>
<body>
Dear <%= @recipient[:first_name] + ' ' + @recipient[:last_name] %>,<br />
Please click this link or copy it into the address bar of your browser to reset your password. <a href='<%= Constant::get(:root_url) %>/user/<%= @recipient[:username] %>/reset_password?code=<%= @recipient[:password_recovery_code] %>'><%= Constant::get(:root_url) %>/users/<%= @recipient[:username] %>/reset_password?code=<%= @recipient[:password_recovery_code] %></a>.<br />
<br />
If you did not request a password reset, you do not need to take any action and can simply ignore this email.<br />
<br />
Thank you,<br />
MyLogs Admin
</body>
</html>
