<h1><%= t(:title_user_group_html, :group_name => @group.name, :user_name => @group.user.full_name) %>
<span id='rename_form' style='display: none;'><%= form_tag user_edit_group_path(:username => @group.user.username, :group_name => @group.group_name) do %>
  <%= text_field_tag 'name', @group.name %> <%= submit_tag t(:btn_save) %>
<% end %></span>
<sup><a href='#' class='toggle rename_link' data-event='click' data-target='h1 .group_name:first-child, #rename_form'><%= t :link_rename %></a></sup>
</h1>
<div><%= link_to t(:link_back_to_groups), user_groups_path(@group.user.username) %></div>
<div><%= form_tag user_group_add_member_dynamic_path(:username => @user.username), :method => :post, :remote => true do %>
    <span><%= select_tag 'friend', "<option value=''>#{t(:input_add_friend_to_group)}</option>".html_safe + options_from_collection_for_select((@user.friends - @group.members), :username, :full_name) %></span>
    <span><%= submit_tag t(:btn_add) %><%= hidden_field_tag 'group_name', @group.group_name %></span>
<% end %></div>
<% if @group.members.count == 0 %>
<div class='notice_msg'><%= t :msg_group_members_not_found %></div>
<ul id='group_members_<%= @group.group_name %>'></ul>
<% else %>
<ul id='group_members_<%= @group.group_name %>'>
  <%= render :partial => 'users/user_row', :collection => @group.members %>
</ul>
<% end %>

