<h1><%= t :title_forgot_password %></h1>
<% if @user == nil %>
  <div class='error_msg'><%= t :msg_user_not_found %></div>
<% elsif flash[:notice] != '' and flash[:notice] != nil %>
  <div class='notice_msg'><%= flash[:notice] %></div>
<% elsif params[:action] == 'reset_password' and (flash[:error] != '' and flash[:error] != nil) %>
  <div class='error_msg'><%= flash[:error] %></div>
<% else %>
  <div><%= t :prompt_reset_password %></div>
  <div class='error_msg'><%= flash[:error] %></div>
  <%= form_tag do %>
    <div class='error_msg'><%= @user.errors[:password][0] %></div>
    <div class='input_prompt'><%= t :input_password %></div>
    <div class='input_field'><%= password_field_tag 'user[password]' %></div>
    <div class='input_prompt'><%= t :input_confirm_password %></div>
    <div class='input_field'><%= password_field_tag 'user[password_confirmation]' %></div>
	  <div><%= submit_tag t(:btn_save) %></div>
    <%= hidden_field_tag 'password_recovery_code', params[:code] || params[:password_recovery_code] %>
  <% end %>
<% end %>
