<%
@page[:title] = t(:title_oauth_authorize)
%>
<h1><%= t :title_oauth_authorize %></h1>
<p><%= t(:oauth_authorize_intro, :name => link_to(@token.client_application.name,@token.client_application.url), :url => link_to(@token.client_application.url,@token.client_application.url), :access_level => @token.access_level_text) %></p>
<% form_tag authorize_url do %>
  <%= hidden_field_tag "oauth_token", @token.token %>
  <%- if params[:oauth_callback] -%>
  <%= hidden_field_tag "oauth_callback", params[:oauth_callback] %>
<%- end -%>
<p>
  <% [0, 1, 3, 7].each do | access_level | %>
  <div><%= radio_button_tag 'access_level', access_level, ((@token.access_level == -1 ? Constant::get(:max_access_level) : @token.access_level) == access_level) %> <%= @token.access_level_text(access_level) %></div>
  <% end %>
</p>
<p>
  <%= submit_tag %>
</p>
<% end %>
