<%
@page[:title] = t(:title_edit_oauth)
%>
<h1><%= t :title_edit_oauth %></h1>
<%= form_for @client_application, :as => :client_application, :url => oauth_client_path(@client_application), :html => {:method => :put}  do |f| %>
       <%= render :partial => "form", :locals => { :f => f } %>
       <%= submit_tag t(:btn_save) %>
<% end %>
<%= link_to t(:link_show), oauth_client_path(@client_application) %> |
<%= link_to t(:link_back), oauth_clients_path %>
