<%
@page[:title] = t(:title_oauth_index)
%>
<h1><%= t :title_oauth_index %></h1>
<% unless @tokens.empty? %>
<div class='intro_text'><%= t :oauth_index_token_intro %></div>
<ul class='token_list'>
  <% @tokens.each do |token|%>
    <li>
      <div><%= link_to token.client_application.name, token.client_application.url %></div>
      <div><%= token.authorized_at %></div>
      <div>
        <% form_tag :controller => 'oauth', :action => 'revoke' do %>
        <%= hidden_field_tag 'token', token.token %>
        <%= submit_tag t(:link_delete_token) %>
        <% end %>
      </div>
    </li>
  <% end %>
</ul>
<% end %>
<h3><%= t :oauth_index_subtitle_developer_section %></h3>
<% if @client_applications.empty? %>
  <div class='intro_text'><%= t :oauth_index_no_applications_intro %></div>
<% else %>
  <div class='intro_text'><%= t :oauth_index_applications_intro %></div>
  <ul class='client_application_list'>
  <% @client_applications.each do |client|%>
    <% div_for client do %>
      <li><%= link_to client.name, oauth_client_path(client) %>: 
        <%= link_to t(:link_edit), edit_oauth_client_path(client) %>
        <%= link_to t(:link_delete), oauth_client_path(client), :confirm => t(:msg_confirm_delete_oauth_application), :method => :delete %></li>
    <% end %>
  <% end %>
  </ul>
<% end %>
<br />
<h3><%= link_to t(:link_oauth_register), :action => :new %></h3>
